<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSSwift0706.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A44B5BF1F0E020A00845C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A44B5D51F0E020A00845C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A44B5E01F0E020A00845C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
